---
const { url, title, pubDate, author, tags, image, alt } = Astro.props
---

<div class="w-2/3 m-5 ms-16 p-8 flex flex-col justify-between rounded-lg post">
    <div class="post-header font-semibold">
        {author}
    </div>
    <div class="post-content self-center flex me-24">
        <div class="icon">
            <img src={image} alt={alt} class="w-28 h-36">
        </div>
        <div class="content px-4 flex flex-col gap-2 border-s-4 lg:border-red-500 border-solid">
            <h2 class="text-5xl">{title}</h2>
            <div class="categories flex gap-4 tracking-wider font-semibold text-gray-600">
                {
                    tags?.map((tag:[]) => (
                        <p>{tag}</p>
                    ))
                }
            </div>
            <div class="more p-2">
                <a href={url} class="text-lg bg-orange-600 p-2 rounded-lg text-white font-bold">
                    Leer mas
                </a>
            </div>
        </div>
    </div>
    <div class="post-footer">
        {pubDate.slice(0, 10)}
    </div>
</div>


<style>
    .post {
        box-shadow: 4px 5px 11px 1px rgba(0, 0, 0, 0.51);
    }
</style>